<br>
<br>
<p style="margin-bottom: 0.14in">
  <font color="#737373">
    <font face="Segoe UI, sans-serif">
      <font size="3" style="font-size: 12pt"><span>&#169;</span>2020 Socialtech.ai. All rights reserved.
     </font>
    </font>
  </font>
</p>